*{
    box-sizing: border-box;
}
body{
   
display: flex;
justify-content: center;
margin-top: 120px;
min-height: 100vh;
}
.App{
overflow: hidden;
width: 450px;
border-radius: 10%;
background-color: #C8CDD1;
align-items: center;
text-align: center;  
box-shadow: 1px 1px 10px #0005;
padding: 20px;

}
ul{
    list-style: none;
}
img{
    color:  lightblue;
}
span{
    color: blue;
}
h1{
    color: blue;
}
h2{
    color: blue;
}
.loader{
    font-size: 48px;
    color: #FFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader:after{
    content: 'Loading';
    position: relative;
    z-index: 5;
  }
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}